<div
  [style.width.%]="getPropValueByName('width')"
  [class]="'mt-3 alert text-truncate ' + getPropValueByName('alertType')"
  role="alert"
  (click)="onClick($event, component?.events, 'click')"
>
  <!-- {{ getPropValueByName("innterText") }} -->
  <pre>{{getActions() | json}}</pre>
  {{component?.id}}
  <ng-container
    *ngIf="component && component.components && component.components.length > 0"
  >
    <div class="row">
      <app-dynamic-component
        [lastCopiedOrCuttedComponent]="lastCopiedOrCuttedComponent"
        [componentToEdit]="componentToEdit"
        [component]="childComponent"
        [isChild]="true"
        (managePages)="managePages.emit()"
        [parentList]="component.components"
        (copy)="copy.emit($event)"
        (cut)="cut.emit($event)"
        (pasteBefore)="pasteBefore.emit($event)"
        (pasteAfter)="pasteAfter.emit($event)"
        (pasteInside)="pasteInside.emit($event)"
        (pasteCancel)="pasteCancel.emit($event)"
        (deleteComponent)="deleteComponent.emit($event)"
        (editComponent)="editComponent.emit($event)"
        (addComponent)="addComponent.emit($event)"
        *ngFor="let childComponent of component.components"
      ></app-dynamic-component>
    </div>
  </ng-container>
</div>
