<div class="container-fluid" *ngIf="activePage">
  <div class="row">
    <app-dynamic-component
      [lastCopiedOrCutComponent]="lastCopiedOrCutComponent"
      [component]="component"
      [componentToEdit]="componentToEdit"
      [showManagePages]="showManagePages"
      [app]="app"
      [isModalWindow]="isModalWindow"
      [(activePageId)]="activePageId"
      (activePageIdChange)="activePageIdChange.emit($event)"
      [parentList]="activePage.components"
      (copy)="copy.emit($event)"
      (cut)="cut.emit($event)"
      (managePages)="managePages.emit()"
      (managePageProperties)="managePageProperties.emit()"
      (pasteBefore)="pasteBefore.emit($event)"
      (pasteAfter)="pasteAfter.emit($event)"
      (pasteInside)="pasteInside.emit($event)"
      (pasteCancel)="pasteCancel.emit($event)"
      (deleteComponent)="deleteComponent.emit($event)"
      (editComponent)="editComponent.emit($event)"
      (addComponent)="addComponent.emit($event)"
      *ngFor="let component of activePage.components"
    ></app-dynamic-component>
  </div>
</div>

<app-action-context-menu
  [lastCopiedOrCutComponent]="lastCopiedOrCutComponent"
  [addComponentContextMenu]="addComponentContextMenu"
  (action)="onAction($event)"
  [isPage]="true"
  [style.top.px]="contextMenuPageY"
  [style.left.px]="contextMenuPageX"
  *ngIf="showContextMenu"
></app-action-context-menu>
