<!-- <ng-container *ngTemplateOutlet="menuTemplateRef; context: {$implicit : menu, isSubMenu : false}"></ng-container>

<ng-template #menuTemplateRef let-dataProvider let-isSubMenu="isSubMenu">
  <ul class="list-group p-2 bg-white"
      [class.shadow]="!isSubMenu"
      [class.sub-menu]="isSubMenu"
      [class.left]="leftAlign"
      #menuRef
      (mousedown)="$event.stopPropagation()">
    <li role="button"
       [class.text-disabled]="isMenuDisabled(data)"
       [class.disabled]="isMenuDisabled(data)"
       [class.d-none]="isMenuHidden(data)"
       [class.px-2]="!isSubMenu"
       [class.active]="isActive(data['label'])"
       [class.list-group-item-action]="!data.menu"
       *ngFor="let data of dataProvider" (click)="data?.action ? onItemClick(data) : (activeMenu = activeMenu == data['label'] ? '' : data['label'])"
       class="py-1 list-group-item">
      <i *ngIf="data?.icon" [class]="data?.icon + ' mr-2'"></i>
      {{ data["label"] }}
      <i *ngIf="data.menu" class="fa fa-chevron-down float-right mt-1 ml-2"></i>
      <div class="clearfix"></div>
      <ng-container *ngIf="activeMenu == data['label'] && data.menu">
        <ng-container *ngTemplateOutlet="menuTemplateRef; context: {$implicit: data.menu, isSubMenu : true}"></ng-container>
      </ng-container>
    </li>
  </ul>
</ng-template> -->

<app-expandable-list-group
  [isPage]="isPage"
  [lastCopiedOrCuttedComponent]="lastCopiedOrCuttedComponent"
  (itemClick)="onItemClick($event)"
  (mousedown)="$event.stopPropagation()"
  [component]="component"
  [menu]="menu"
  style="width: 250px"
  class="shadow p-2"
></app-expandable-list-group>
