<!-- *************************************** Manage Active Page Properties *************************************** -->
<div
  class="modal fade"
  bsModal
  (onHidden)="close.emit()"
  #addOrEditPagePropertyModal="bs-modal"
  [config]="{ show: true, backdrop: true, ignoreBackdropClick: true }"
  tabindex="-1"
>
  <div class="modal-dialog shadow" id="manage_page_tooltip_container">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Manage Active Page Properties</h5>
        <button
          type="button"
          [disabled]="addNewPagePropertyModalRef.isShown"
          class="btn-close"
          (click)="addOrEditPagePropertyModal.hide()"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li
            *ngFor="let property of activePageProperties"
            class="list-group-item position-relative"
          >
            <ul class="list-group">
              <li class="list-group-item">
                <span class="text-muted">Name :</span> {{ property.name }}
              </li>
              <li class="list-group-item text-danger">
                <span class="text-muted">Data Type :</span>
                {{ property.dataType }}
              </li>
              <li class="list-group-item text-info">
                <span class="text-muted">Description :</span>
                {{ property.description }}
              </li>
              <li class="list-group-item text-primary">
                <span class="text-muted">Default Value :</span>
                {{ property.defaultValue }}
              </li>
            </ul>

            <div class="position-absolute top-0 end-0 mt-3 me-4">
              <button
                (click)="deletePage(property)"
                tooltip="Delete Property"
                class="btn btn-danger"
              >
                <i class="fa fa-trash"></i>
              </button>
              <button
                tooltip="Edit Property"
                (click)="editClick(property, addNewPagePropertyModalRef)"
                class="ms-2 btn btn-warning"
              >
                <i class="fa fa-edit"></i>
              </button>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button
          [disabled]="addNewPagePropertyModalRef.isShown"
          class="btn btn-primary"
          (click)="addNewPagePropertyModalRef.show()"
        >
          Add New Property
        </button>
      </div>
    </div>
  </div>
</div>
<!-- *************************************** Manage Active Page Properties *************************************** -->

<!-- *************************************** Add New Page Property *************************************** -->
<div
  class="modal fade"
  bsModal
  #addNewPagePropertyModalRef="bs-modal"
  [config]="{ show: false, backdrop: true, ignoreBackdropClick: true }"
  tabindex="-1"
>
  <div class="modal-dialog modal-sm shadow" id="manage_page_tooltip_container">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Page Property</h5>
        <button
          type="button"
          class="btn-close"
          (click)="addNewPagePropertyModalRef.hide();propertyToEdit = undefined"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          *ngIf="addNewPagePropertyModalRef.isShown"
          #addOrEditPagePropertyFormRef="ngForm"
          class="modal-body pb-0"
        >
          <!-- ***************** Property Name ***************** -->
          <div class="mb-3">
            <label class="form-label">Property Name <code>*</code></label>
            <input
              [class.is-valid]="PropertyName.valid"
              [class.is-invalid]="PropertyName.invalid"
              autocomplete="off"
              #PropertyName="ngModel"
              name="name"
              required
              minlength="3"
              maxlength="30"
              type="text"
              [ngModel]="formDefaultValue.name"
              appAlphaNumericOnly
              class="form-control"
              placeholder="Property Name"
            />
            <div class="valid-feedback">
              required and allowed Alphanumeric with 3 to 20 characters only
            </div>
            <div class="invalid-feedback">
              required and allowed Alphanumeric with 3 to 20 characters only
            </div>
          </div>
          <!-- ***************** Property Name ***************** -->

          <!-- ***************** Property Default Value ***************** -->
          <div class="mb-3">
            <label class="form-label">Property Default Value</label>
            <input
              autocomplete="off"
              #PropertyDefaultValue="ngModel"
              name="defaultValue"
              type="text"
              [ngModel]="formDefaultValue.defaultValue"
              class="form-control"
              placeholder="Property Default Value"
            />
          </div>
          <!-- ***************** Property Default Value ***************** -->

          <!-- ***************** Property Data Type ***************** -->
          <div class="mb-3">
            <label class="form-label">Property Data Type <code>*</code></label>
            <select
              [class.is-valid]="PropertyDataType.valid"
              [class.is-invalid]="PropertyDataType.invalid"
              #PropertyDataType="ngModel"
              name="dataType"
              required
              [ngModel]="formDefaultValue.dataType"
              class="form-control"
            >
              <option selected disabled value="">Choose...</option>
              <option value="string">String</option>
              <option value="number">Number</option>
              <option value="boolean">Boolean</option>
              <option value="date">Date</option>
              <option value="array">Array</option>
              <option value="object">Object</option>
            </select>
            <div class="valid-feedback">required</div>
            <div class="invalid-feedback">required</div>
          </div>
          <!-- ***************** Property Data Type ***************** -->

          <!-- ***************** Property Description ***************** -->
          <div class="mb-3">
            <label class="form-label"
              >Property Description <code>*</code></label
            >
            <textarea
              [class.is-valid]="pageRoute.valid"
              [class.is-invalid]="pageRoute.invalid"
              autocomplete="off"
              #pageRoute="ngModel"
              [ngModel]="formDefaultValue.description"
              name="description"
              required
              minlength="3"
              maxlength="120"
              type="text"
              class="form-control text-lowercase"
              placeholder="Property Description"
            ></textarea>
            <div class="valid-feedback">required 3 to 120 characters only</div>
            <div class="invalid-feedback">
              required 3 to 120 characters only
            </div>
          </div>
          <!-- ***************** Property Description ***************** -->
          <div class="d-flex">
            <button
              (click)="
                addNewPageProperty(
                  addOrEditPagePropertyFormRef,
                  addNewPagePropertyModalRef
                )
              "
              [disabled]="addOrEditPagePropertyFormRef.invalid"
              class="btn btn-outline-primary mb-3 ms-auto"
              type="button"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- *************************************** Manage Active Property Property *************************************** -->
