<!--
  <pre>{{ component | json }}</pre>
-->
<app-alert-wraper
  [component]="component"
  [lastCopiedOrCuttedComponent]="lastCopiedOrCuttedComponent"
  [componentToEdit]="componentToEdit"
  (copy)="copy.emit($event)"
  (cut)="cut.emit($event)"
  (managePages)="managePages.emit()"
  (pasteBefore)="pasteBefore.emit($event)"
  (pasteAfter)="pasteAfter.emit($event)"
  (pasteInside)="pasteInside.emit($event)"
  (pasteCancel)="pasteCancel.emit($event)"
  (deleteComponent)="deleteComponent.emit($event)"
  (editComponent)="editComponent.emit($event)"
  (addComponent)="addComponent.emit($event)"
  *ngIf="component?.type === component_type.ALERT"
></app-alert-wraper>

<app-action-context-menu
  appKeepElementInViewport
  [lastCopiedOrCuttedComponent]="lastCopiedOrCuttedComponent"
  [component]="component"
  [leftAlign]="contextMenuLeftAlign"
  (action)="onAction($event)"
  [style.top.px]="contextMenuPageY"
  [style.left.px]="contextMenuPageX"
  *ngIf="showContextMenu"
></app-action-context-menu>
