<!--
  <pre>{{ component | json }}</pre>
-->
<app-alert-wrapper
  [component]="component"
  [lastCopiedOrCuttedComponent]="lastCopiedOrCuttedComponent"
  [componentToEdit]="componentToEdit"
  [showManagePages]="showManagePages"
  [app]="app"
  [isModalWindow]="isModalWindow"
  [(activePageId)]="activePageId"
  (activePageIdChange)="activePageIdChange.emit($event)"
  (copy)="copy.emit($event)"
  (cut)="cut.emit($event)"
  (managePages)="managePages.emit()"
  (managePageProperties)="managePageProperties.emit()"
  (pasteBefore)="pasteBefore.emit($event)"
  (pasteAfter)="pasteAfter.emit($event)"
  (pasteInside)="pasteInside.emit($event)"
  (pasteCancel)="pasteCancel.emit($event)"
  (deleteComponent)="deleteComponent.emit($event)"
  (editComponent)="editComponent.emit($event)"
  (addComponent)="addComponent.emit($event)"
  *ngIf="component?.type === component_type.ALERT"
></app-alert-wrapper>

<app-accordion-wrapper
  [component]="component"
  [lastCopiedOrCuttedComponent]="lastCopiedOrCuttedComponent"
  [componentToEdit]="componentToEdit"
  [showManagePages]="showManagePages"
  [app]="app"
  [isModalWindow]="isModalWindow"
  [(activePageId)]="activePageId"
  (activePageIdChange)="activePageIdChange.emit($event)"
  (copy)="copy.emit($event)"
  (cut)="cut.emit($event)"
  (managePages)="managePages.emit()"
  (managePageProperties)="managePageProperties.emit()"
  (pasteBefore)="pasteBefore.emit($event)"
  (pasteAfter)="pasteAfter.emit($event)"
  (pasteInside)="pasteInside.emit($event)"
  (pasteCancel)="pasteCancel.emit($event)"
  (deleteComponent)="deleteComponent.emit($event)"
  (editComponent)="editComponent.emit($event)"
  (addComponent)="addComponent.emit($event)"
  *ngIf="component?.type === component_type.ACCORDION"
></app-accordion-wrapper>

<app-accordion-group-wrapper
  [component]="component"
  [lastCopiedOrCuttedComponent]="lastCopiedOrCuttedComponent"
  [componentToEdit]="componentToEdit"
  [showManagePages]="showManagePages"
  [app]="app"
  [isModalWindow]="isModalWindow"
  [(activePageId)]="activePageId"
  (activePageIdChange)="activePageIdChange.emit($event)"
  (copy)="copy.emit($event)"
  (cut)="cut.emit($event)"
  (managePages)="managePages.emit()"
  (managePageProperties)="managePageProperties.emit()"
  (pasteBefore)="pasteBefore.emit($event)"
  (pasteAfter)="pasteAfter.emit($event)"
  (pasteInside)="pasteInside.emit($event)"
  (pasteCancel)="pasteCancel.emit($event)"
  (deleteComponent)="deleteComponent.emit($event)"
  (editComponent)="editComponent.emit($event)"
  (addComponent)="addComponent.emit($event)"
  *ngIf="component?.type === component_type.ACCORDION_GROUP"
></app-accordion-group-wrapper>

<app-action-context-menu
  appKeepElementInViewport
  [lastCopiedOrCuttedComponent]="lastCopiedOrCuttedComponent"
  [component]="component"
  [leftAlign]="contextMenuLeftAlign"
  (action)="onAction($event)"
  [style.top.px]="contextMenuPageY"
  [style.left.px]="contextMenuPageX"
  *ngIf="showContextMenu"
></app-action-context-menu>
