/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

@import "~fontawesome-4.7/css/font-awesome.min";

@import "../node_modules/angular2-draggable/css/resizable.min.css";

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.cut-or-copied {
  border: 2px dotted red !important;
  box-sizing: border-box;

  &:after {
    position: absolute;
    font-size: 180%;
    background-color: rgb(255 0 0 / 1%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: rgb(255 0 0 / 20%);
  }

  &.is-cut {
    &:after {
      content: 'Cut in Progress';
    }
  }

  &.is-copied {
    &:after {
      content: 'Copy in Progress';
    }
  }
}


.text-disabled {
  color: #cccccc !important;
}

.disabled {
  cursor: not-allowed !important;
}

.panel {
  border-radius: 0;
}

.popover-body,
.panel-body {
  padding: 5px;
}

.panel-collapse {
  border-radius: 0;
}

body {
  overscroll-behavior: contain;
}
